<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="RefreshIntervalSeconds" value="60"/>

  <!-- 单数据库连接 -->
  <add key="Mongodb.Connection" value="mongodb://127.0.0.0"/>
  <add key="Mongodb.Server" value="127.0.0.0" />
  <add key="Mongodb.ServerPort" value="27017"/>
  <add key="Mongodb.Database" value="Test"/>

</appSettings>
