<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="RefreshIntervalSeconds" value="60"/>

  <!-- 单数据库连接 -->
  <add key="Mongodb.Connection" value="mongodb://121.40.213.248"/>
  <add key="Mongodb.Server" value="121.40.213.248"/>
  <add key="Mongodb.ServerPort" value="12138"/>
  <add key="Mongodb.Database" value="TruckNo1_Test150601"/>

</appSettings>
